spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/idempotent_payment_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.payment.route: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
